.bold {
	font-weight: bold;
}
strong {
	font-size: 100%;
	font-weight: bold;
	
}
aside {
	width: 40%;
	padding-left: 0.5rem;
	margin-left: 0.5rem;
	float: right;
	box-shadow: inset 5px 0 5px -5px #29627e;
	font-style: italic;
	color: #29627e;
  }
  
  aside > p {
	margin: 0.5rem;
  }
  .sidebar {
    height: 100%;
    width: 175px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
}

/* Define the links in the sidebar */
.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
}

/* Style the links when hovering over them */
.sidebar a:hover {
    background-color: #555;
}

/* Define the content area */
.content {
    margin-left: 175px; /* Adjust this to match the width of your sidebar */
    padding: 20px;
}