/* styles.css */
body {
    background-color: white;
}

.sidebar {
    width: 500px; /* Adjust the width as needed */
    background-color: white; /* Background color of the sidebar */
    color: black; /* Text color */
    padding: 30px;
    font-weight: bold;
    float: left;
}
.afterSidebar {
    margin: 90px 0px 0px 0px;
}

strong {
	font-size: 150%;
	font-weight: bold;
	color: blue;
}
h2 {
	color: black;
	font-size: 150%;
	font-weight: bold;
	margin: 130px 0px 0px 0px;
}
h3 {
    color: black;
	font-size: 150%;
	font-weight: bold;
	margin: 50px 0px 0px 0px; 
}
.bold {
	font-weight: bold;
}
